:root{
    --red: #B02E0C;
    --black: #191716;
    --blue: #008DD5;
    --white: #FDFFFC;
    --grey: #637081;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url(BarlowCondensed-Regular.ttf);
}
h1, h2, h3 {
    font-family: 'Bebas Neue';
    font-size: 86px;
    color: #B02E0C;
}
.title{
    text-align: center;

}
.caption{
    font-family: 'Barlow Condensed';
    font-size: 38px;
    color: var(--grey);
    text-align: center;
}
.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.body{
    font-family: 'Barlow Condensed';
    font-size: 32px;
    color:#637081;
    text-align: center;
}

